@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header{
    max-width: 100vw;
    height: 100vh;
    background: brown url(../imagens/fundo001.jpg);
    background-size: cover;
    background-position: center top;
}



section.inicio{
    padding: 10px;
}

div.endereco {
    display: none;
    float: left;
    color: white;
}

div.contatos{
    display: none;
    float: right;
    color: white;
}

div.endereco :hover{
    color: darkred;
}

div.contatos :hover{
    color: darkred;
}

div.logo{
    text-align: center;
}

#itens{
    display: none;
    text-align: right;
    transition: all 0.5s;
}

i#burguer{
    text-align: right;
    display: block;
    padding: 20px;
    color: white;
    font-size: 2.5em;
    cursor: pointer;
}

i#burguer:hover{
    color: brown;
}

li{
    padding: 10px;
}

a {  
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: normal ;
    padding: 10px;
}

menu a:hover{
    color: darkred;
    border-radius: 10px;
    transition: 0.5s;
    
}

section.container-sobre{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: 90vh;
    padding: 20px;
    line-height: 50px;
}

div.texto-sobre{
    margin: auto;
    display: block;
    font-size: 1.2em;
}

div.texto-sobre a {
    display: block;
    margin-top: 30px;
    padding: 10px;
    width: 120px;
    text-decoration: none;
    color: black;
    border: 2px solid darkgrey;
}

div.texto-sobre a:hover{
    color: white;
    background-color: darkgrey;
}

div.filho-sobre{
    display: none;
}

section.img-mesa{
    height: 60vh;
    background: brown url(../imagens/fundo002.jpg) no-repeat top center;
    background-size: cover;
}

section.cardapio{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: 80vh;
    padding: 20px;
    line-height: 50px;
    text-align: justify;
}

div.text-cardapio{
    text-align: justify;
    margin: auto;
    display: block;
    font-size: 1.2em;
}

div.text-cardapio a {
    display: block;
    margin-top: 30px;
    padding: 10px;
    width: 108px;
    text-decoration: none;
    color: black;
    border: 2px solid darkgrey;
}

div.text-cardapio a:hover{
    background-color: darkgrey;
    color: white;
}

div.img-cardapio{
    display: none;
}

section.galeria{
    position: relative;
    height: 70vh;
    background: brown url(../imagens/fundo-galeria.jpg) no-repeat top center;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

section.galeria h1{
    display: block;
    margin: auto;
    padding: 50px;

}

section.galeria p {
    padding: 20px;
}

section.galeria a {
    display: block;
    margin: auto;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    width: 120px;
    padding: 20px;
    border-radius: 0px;
    border: 2px solid rgba(98, 97, 97, 0.526);
}

section.galeria a:hover{
    background-color: rgba(98, 97, 97, 0.526);
    color: white;
}

section.contatos-final{
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 40vh;
    line-height: 50px;
    text-align: center;
}

div.endereco-footer{
    padding: 20px;
    line-height: 20px;

}
div.endereco-footer > h1{
    display: block;
    margin: 10px;
}

div.endereco-footer p {
    display: block;
}

div.horario-footer{
    padding: 20px;
    line-height: 20px;
}

div.horario-footer p {
    display: block;
    margin: 10px;
}

div.atendimento{
    padding: 20px;
    line-height: 20px;
}

    div.atendimento p{
        display: block;
        margin: 10px;
    }

footer{
    margin: 0px;
    background-color: black;
    color: white;
    height: 08vh;
}

footer p{
    display: block;
    padding: 20px;
    text-align: center;
    margin: auto;
}


